$black: #000;
$white: #FFF;

$turqoise: #26E0E2;
$bright-turqoise: #15F5DF;
$cyan: #00FEDD;
$niagara: #049793;
$atoll: #095E72;
$mine-shaft: #393939;
$tarawera: #053641;
$jungle-mist: #ACCDD2;
$casper: #9DBFC7;
$egg-blue: #05CFB6;
$red: #ED5E68;
